<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %> 
  </head>
  <body>
    <%- include('includes/header') %> <!-- res.render()처럼 두번째 인자로 변수 전달 가능-->
    <%- include('includes/aside') %> 
    <main>
      <h1>SERVER ERROR ! </h1>
      <p>
        페이지를 찾을 수 없습니다.
      </p>

    </main>
  </body>
</html>
